version: '3.7'

volumes:
  powergate-powd:
  powergate-ipfs:
  powergate-lotus:

services:
  
  powergate:
    ports:
      - 8889:8889
      - 8888:8888
      - 6060:6060
      - 5002:5002
      - 6002:6002
    depends_on:
      - ipfs
      - lotus
    environment:
      - POWD_LOTUSHOST=/dns4/lotus/tcp/1234
      - POWD_IPFSAPIADDR=/dns4/ipfs/tcp/5001
      - POWD_LOTUSTOKENFILE=/root/lotus/.lotus/token
      - POWD_REPOPATH=/root/powergate/.powergate
      - POWD_NETWORK
    restart: unless-stopped
    volumes:
      - powergate-powd:/root/powergate
      - powergate-lotus:/root/lotus
  
  lotus:
    image: textile/lotus:${LOTUS_IMAGE_TAG}
    volumes:
      - powergate-lotus:/data
    environment:
      - LOTUS_API_LISTENADDRESS=/ip4/0.0.0.0/tcp/1234/http
      - LOTUS_CLIENT_USEIPFS=true
      - LOTUS_CLIENT_IPFSUSEFORRETRIEVAL=true
      - LOTUS_CLIENT_IPFSMADDR=/dns4/ipfs/tcp/5001
    ports:
      - 1234:1234
      - 5678:5678
    restart: unless-stopped

  ipfs:
    ports:
      - 5001:5001
    volumes:
      - powergate-ipfs:/data/ipfs
    restart: unless-stopped    
    
  prometheus:
    image: prom/prometheus:v2.1.0
    volumes:
      - ./prometheus/:/etc/prometheus/
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    depends_on:
      - cadvisor
    restart: unless-stopped

  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
       - '--port=8082'
    ports:
      - 8082:8082
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    user: "104"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    restart: unless-stopped

