html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 2em;
    font-family: monospace, sans-serif;
    color: #666666;
    background-color: #222222;
    height: 100%;
}

.logo {
    position: absolute;
}

.title {
    margin-bottom: 0.5em;
    color: white;
    font-weight: bold;
}

.subtitle {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.navbar {
    width: 100%;
    line-height: 2em;
    font-size: 0.9em;
    margin: 5em auto 1em;
}

a {
    color: #FFB6D5;
    text-decoration: none;
}

ul, li {
    list-style: none;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    line-height: 2em;
    font-size: 0.9em;
}

li span.right {
    float: right;
}

li:nth-child(even) {
    background: rgba(255,182,213,0.05);
}

li:nth-child(odd) {
    background: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

td, th {
    border: 1px solid #666666;
    padding: 8px;
}

tr:nth-child(odd){background-color: #252525;}

tr:hover {background-color: rgb(49, 49, 49);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(15, 15, 15);
    color: white;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.aligner-item {
    max-width: 60%;
}

.aligner-item p {
    text-align: center;
    line-height: 1.5em;
}

.icon-big {
    font-size: 4em;
}
