{{template "header" "404 Not Found"}}
<div class="aligner">
    <div class="aligner-item">
        <i class="fas fa-sad-cry icon-big"></i>
    </div>
    <div class="aligner-item">
        <p>Nothing to see here!</p>
    </div>
</div>
{{template "footer"}}
