{{template "header" "Oops!"}}
<div class="aligner">
    <div class="aligner-item">
        <i class="fas fa-grimace icon-big"></i>
    </div>
    <div class="aligner-item">
        <p>{{.Code}} Error: {{.Error}}</p>
    </div>
</div>
{{template "footer"}}
