{{template "header" "Miners Index"}}
{{template "menu" .}}
<div class=".aligner-item">
    {{template "table" .MetaData}}
</div>
<div class=".aligner-item">
    {{template "table" .ChainData}}
</div>
{{template "footer"}}