global:
  scrape_interval:     15s
  evaluation_interval: 15s
  scrape_timeout:      10s

  external_labels:
      monitor: 'textile-fc'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
         - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
          - targets: ['localhost:8080']

  - job_name: 'textile-fc'
    scrape_interval: 5s
    static_configs:
          - targets: ['localhost:8888']
