name: Review
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-contrib/golangci-lint@v1
